/*
 Theme Name:   Basswalk
 Theme URI:    http://basswalk.com
 Description:  Basswalk theme
 Author:       Echo 5
 Author URI:   http://echo5web.com
 Template:     fusion
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  bw
*/

/**
 * Grid
 */
.wide-gutters {
  margin-right: -30px;
  margin-left: -30px;
}
.wide-gutters [class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}
.wide-gutters .grid-item {
    padding-bottom: 60px;
}
.section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.single .site-content {
    padding-left: 15px;
    padding-right: 15px;
}
.single .site-content > article {
    margin-left: -15px;
    margin-right: -15px;
}

/** 
 * Typography
 */

 @font-face {
    font-family: 'Haas Grot Disp 65';
    src: url('/wp-content/themes/basswalk/assets/fonts/HaasGrotDisp-65Medium.woff2') format('woff2'),
        url('/wp-content/themes/basswalk/assets/fonts/HaasGrotDisp-65Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Haas Grot Disp 55 Roman';
    src: url('/wp-content/themes/basswalk/assets/fonts/HaasGrotDisp-55Roman.woff2') format('woff2'),
        url('/wp-content/themes/basswalk/assets/fonts/HaasGrotDisp-55Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Haas Grot Disp 75';
    src: url('/wp-content/themes/basswalk/assets/fonts/HaasGrotDisp-75Bold.woff2') format('woff2'),
        url('/wp-content/themes/basswalk/assets/fonts/HaasGrotDisp-75Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.display-1, .display-1 h1, .display-1 h2 {
    text-align: center;
    font-size: 8rem;
    z-index: 2;
    position: relative;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.single .entry-content {
    font-size: inherit;
}
.bg-text {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	transform: translatey(-50%);
	z-index: -2;
}


/**
 * Forms
 */
.select-wrapper.has-value ~ label, .form-group label {
    font-size: .68rem;
    color: #c2c2cd;
    top: -1.15rem;
    left: 0;
}
label.top {
    font-size: .68rem;
    color: #c2c2cd;
}
.form-group {
    margin-bottom: 3rem;
}
.form-group input, input, .form-group textarea, textarea, .form-group select, select {
    border-bottom: 0;
    background: whitesmoke;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 6px;
}

/**
* Releases / portfolio grid
*/
.portfolio-style-archive .grid-item .featured img {
    -o-object-fit: none;
    object-fit: none;
    max-width: 100%;
    height: auto;
}
.portfolio-style-archive .grid-item .featured {
    text-align: center;
}
.portfolio-style-archive .grid-item article {
    transition: box-shadow .3s ease-in-out;
    box-shadow: none;
}
.portfolio-style-archive .grid-item article:hover {
    box-shadow: 0 0.5em 3em rgba(0,0,0,.1);
}
.portfolio-style-archive .grid-item .featured svg {
    max-width: 180px;
    margin: 60px auto;
}
.post-type-archive-portfolio .site-content {
    max-width: 100%;
    width: 100%;
}
.post-type-archive-portfolio .site-content .form-group input, .form-group select {
    border-bottom: 0;
    /* background: white; */
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 6px;
}
.post-type-archive-portfolio .site-content #posts article {
    /* background: white; */
    /* border-radius: 8px; */
    overflow: hidden;
    height: auto;
}
.post-type-archive-portfolio .site-content #posts article h3 {
    font-size: 1.4rem;
}
.release-info {
    padding: 20px;
}
.post-type-archive-portfolio {
    /* background: #fbfbfb; */
}
.sidebar-filters {
    padding: 60px 30px;
    z-index: 10;
    border-right: 1px solid #e4e4e8;
    min-height: 100vh;
}
.toggle-filters {
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 200px;
    left: 100%;
    display: none;
    background: white;
    cursor: pointer;
}
@media screen  
and (max-width: 812px) { 
    #portfolio-filters {
        max-height: 100vh;
        overflow: scroll;
    }
    #portfolio-filters > .form-group:first-child {
        margin-top: 1rem;        
    }
    .sidebar-filters {
        background: white;
        position: fixed;
        right: 100%;
        top: 0;
        height: 100vh;
        overflow: visible;
        width: 340px;
        transition: transform .3s ease-in-out;
        max-width: calc(100% - 50px);
        z-index: 100;
    }
    .filters-active .sidebar-filters {
        transform: translate3d(100%,0,0);
    }
    .toggle-filters {
        display: block;    
    }
}
.release-type {
    font-size: 1rem;
    float: left;
    margin-right: 30px;
}
.release-type svg {
    float: left;
    max-width: 16px;
    margin-right: 10px;
    height: 16px;
    margin-top: 3px;
}
div#posts.loading:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    display: block;
    top: 0;
    opacity: .8;
}

/**
 * Releases / portfolio single
 */

.single-portfolio.header-light-active .navbar-nav .nav-link {
    color: #231F20;
}

.single-portfolio {
    margin-bottom: 20px;
}
.single-portfolio .col-featured {
    background: #d6d6d6;    
}
.single-portfolio .featured {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d6d6;
}
.single-portfolio .col-featured img {
    width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;    
}
.portfolio .no-album-img {
    background: #ffffffe0;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 100%;
}
.single-portfolio .entry-content {
    margin-bottom: 2rem;
}
.single-portfolio .info-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
    display: flex;
    height: 60px;
    align-items: center; 
    border-top: 1px solid #b8b7c1;    
}
.portfolio .info-bar .col-title {
    flex-grow: 2;
}
body.single-portfolio .site-footer {
    display: none;
}
.portfolio .entry-title {
    font-size: 28px;
}
.info-bar .nav-previous, .info-bar .nav-next {
    width: 60px;
    height: 60px;
}
.info-bar .nav-previous a, .info-bar .nav-next a {
    height: 60px;
    width: 60px;
    display: block;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    transition: background .2s ease-in-out;
}
.info-bar .nav-previous a:before, .info-bar .nav-next a:before {
    width: 60px;
}
.info-bar .nav-previous a:hover, .info-bar .nav-next a:hover {
    background: #f2f2f3;
}
.info-bar .nav-previous .article-name, .info-bar .nav-next .article-name {
    display: none;
}
.release-links {
    margin-top: 2rem;   
    margin-bottom: 4rem;    
}
.release-links a {
    margin: 0 10px 10px 0;
    display: inline-block;
}

/**
 * Header
 */
#navbar {
    justify-content: center;
}
.social-icons img:hover{
	opacity:1 !important;
	transition: all .2s ease-in-out;
}
.social-icons img {
	width: 65%;
}
#text-3  {
    width: 300px;
}
#text-4 {
    width: 300px;
}
.navbar-brand img {
    margin-right: 100px;
}

.navbar-brand {
    margin-right: 0;
}

.header-dark-active .social-icons img {
	filter: invert(100%);
}

.navbar-toggler.navbar-style-icon {
	color: #231f20;
}
.icon-menu {
	color: #231f20;
}

.navbar-active .close-icon {
	color: #fff;
}


/**
 * Footer 
 */

.site-footer .elementor-section {
    padding: 1rem !important;
    z-index: -1;
}

.site-footer a {
	  color: #ffffff;
}

#footer .elementor-widget:not(:last-child) {
	  margin-bottom: 10px;
}

#footer p {
	  margin-bottom: 0px;
}
@media screen  
and (min-width: 812px) { 
    body, html {
        min-height: 100%;
    }
    html {
        position: relative;
    }
    #barba-wrapper {
        margin-bottom: 109px;
    }
    .single-portfolio #barba-wrapper {
        margin: 0;
    }
    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

/**
 * Buttons 
 */
 .elementor-button:focus, .elementor-button:hover, .elementor-button:visited {
    opacity: 1;
}


/**
 * Releases Carousel 
 */
 .releases-carousel .grid-item {
    margin: 0 auto;
    max-width: 500px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.carousel-slide-counter .total:before,.carousel-slide-counter:before {
	content: '0';
}
.releases-carousel .slick-slide-inner {
	height: 100vh;
}

/**body .elementor-slick-slider .slick-next, body .elementor-slick-slider .slick-prev {
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    background: #F7F2F2;
	  padding: 10px;
}

body .elementor-slick-slider .slick-next:before, body .elementor-slick-slider .slick-prev:before {
    font-size: 40px !important;
}

body .elementor-slick-slider .nav-text {
	  display: none;
}
body .elementor-slick-slider .slick-next {
  	bottom: 65px;
}

body .elementor-slick-slider .slick-next:hover, body .elementor-slick-slider .slick-prev:hover {
	 background: #231F20;
	 transition: all .3s ease-in-out;
}

body .elementor-slick-slider .slick-next:hover:before, body .elementor-slick-slider .slick-prev:hover:before {
	 color: #ffffff !important;
	 transition: all .3s ease-in-out;
}**/

.slick-slider .slick-prev:before, .slick-slider .slick-next:after {
    background: black;
    height: 3px;
    width: 69px;
    content: '' !important;
    transition: width .3s ease-in-out;
    top: 50%;
    transform: translate3d(0,-50%,0);    
}
.slick-slider .slick-next:before { 
    content: '' !important;
}
.slick-slider .slick-prev:hover:before, .slick-slider .slick-next:hover:after {
    width: 100px;
}

.slick-arrow.slick-next .nav-text {
    left: auto;
    right: 100%;
    opacity: 1;
}
.slick-arrow.slick-prev .nav-text {
    right: auto;
    left: 100%;
	  opacity: 1;
}
.releases-carousel .grid-item img{
    /* border-radius: 20px; */
}
.releases-carousel .entry-title {
	display: none;
}

/*.carousel-slide-counter {
  color: #231F20;
  bottom: 0;
  font-size: 4rem;
  right: 0;
  left: auto;
}*/
.carousel-slide-counter {
    color: #231F20;
    bottom: 0;
    font-size: 4rem;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
}
.carousel-slide-counter .slash {
    font-size: 2rem;
}
@media screen  
and (max-width: 812px) { 
    .single-portfolio .featured {
        height: auto;
    }
    .col-featured {
        padding-top: 3.5rem;
    }
    .single-portfolio .col-featured img {
        width: 400px;
    }
    .single-portfolio .page-header {
        padding-top: 3rem;
    }
}

/**
 * Branding splash
 */
.splash-row .elementor-row {
     height:100%;
}
.branding-col .elementor-widget, .branding-col .elementor-column-wrap, .branding-col .elementor-widget-wrap {
    position: static;
}
.branding-col img {
    max-height: 200px !important;
    max-width: 300px !important;
    height: auto;
    width: auto;
}
.branding-col:after {
    content: '';
    width: 76px;
    margin-left: -38px;
    height: calc(50% - 150px);
    background: #da291c;
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate3d(0,100%,0);
    transition: transform .4s ease-in-out;    
}
.branding-col.active:after {
    transform: translate3d(0,0,0);
}
.branding-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.branding-bg.active {
    opacity: 1;
}
body.loaded {
    opacity: 1;
}

/**
 * Media 
 */

.media-gallery-section .elementor-widget:not(:last-child) {
    margin-bottom: 0;
}

@media screen  
  and (min-width: 812px) { 

 .diamond-shape img{    
	border-radius: 20px;
	transform: rotate(45deg) translateY(10px);
}

.diamond-shape {
  transform: rotate(-45deg) translateY(-1px);
}
}

/** 
 * About 
 */
 .page-id-34 .elementor-element.elementor-element-b7f4aad.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section-content-middle.elementor-section.elementor-top-section {
	padding: 0;
}

.about-paragraph p{
	margin-bottom: 2rem;
}

/**
 * News 
 */
.hentry .author {
  display: none;
}
.news-grid .hentry .post-meta .date {
	text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.news-grid .hentry .post-meta {
	order: -1;
	line-height: 2;
	z-index: 2;
}
.news-grid .entry-title.h2 {
	z-index: 2;
}
.post-style-gradient-bottom .grid-item .featured {
	max-height: 400px;
}
.news-grid .categories {
	display:none;
}
.news-grid article {
	overflow: hidden;
    border-radius: 20px;
}
.news-grid .overlay.overlay-gradient:after {
    background: #DA291C;
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate3d(0,100%,0);
    transition: transform .3s ease-in-out;
	  height: 100%;
}
.news-grid article:hover .overlay.overlay-gradient:after {
    transform: translate3d(0,0,0);
}
.news-grid .hentry .overlay-gradient {
    height: auto;
    bottom: 0;
    top: auto;
}

/**
 * Artists
 */
.artist-grid img{
	border-radius: 20px;
}

/**
 * Social
 */

ul.social {
	list-style-type: none;
	margin-bottom: 0;
}

.social li {
	display: inline;
	margin-left: 4px;
}

.social img {
	width: 30px;
}

/**
 * Animations
 */
body.loading .carousel {
    transition: none;
    opacity: 0 !important;
}


/**
 * Mobile
 */

@media screen  
  and (max-width: 812px) { 

.branding-col {
  height: 250px;
}
	  
.branding-col img {
  max-height: 180px !important;
  max-width: 240px !important;
}
	  
.branding-col:after {
  display: none;
}

.branding-bg {
  opacity: 0 !important;
}
	  
body.page-id-11.home {
   background-image:url("http://basswalk.echo5web.com/wp-content/uploads/2017/12/austin-neill-vintage.jpg");
   background-size: cover;
}

.navbar-collapse .nav-link {
    padding: 10px;
}

.display-1 h2, h1.display-1, .display-1 h1, .display-1 {
    font-size: 4rem;
}

.elementor-slick-slider .slick-slider .slick-next, .elementor-slick-slider .slick-slider .slick-prev{
    display: none !important;
}

p, .p {
  font-size: 0.9rem;
}
.bg-text {
    font-size: 1rem;
}
.elementor-button-link.elementor-button.elementor-size-sm {
font-size: 16px;
 padding: 20px 40px;
}

.elementor-widget-portfolio-carousel {
max-width: 80%;
margin: 0 auto;
}
.single .post-meta-col {
justify-content: baseline;
}
	  
}

/**
 * Editing comments
 */
.comment form, .cancel-edit-comment {
    display: none;
}
.comment.editing form, .comment.editing .cancel-edit-comment {
    display: block;
}
.comment.editing .edit-comment, .comment.editing .comment-text {
    display: none;
}
.update-comment-form .btn {
    font-size: 1rem;
    padding: 12px !important;
    line-height: 1;
    clear: both;
    display: block;
}
.update-comment-form textarea {
    width: 100%;
    min-height: 100px;
}

/**
 * Desktop & Tablet Only
 */

@media screen  
  and (min-width: 812px) { 
	  
.enter-site {
  display: none;
}
	
}