/*!
Elementor admin scripts
*/
.elementor-panel#elementor-panel #elementor-panel-header {
  height: 45px;
  color: #495157;
  background: #fff;
  border-bottom: 1px solid #e6e9ec;
  cursor: move;
  z-index: 4;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.elementor-panel#elementor-panel #elementor-panel-content-wrapper {
  top: 45px; }

.elementor-panel#elementor-panel .elementor-panel-navigation-tab.active {
  border-bottom: 3px solid #772e8a; }

.movable-editor #elementor-preview {
  left: 0 !important; }

.movable-editor #elementor-panel-wrapper {
  position: fixed;
  left: 3%;
  top: 6vh;
  max-height: 100vh;
  height: 80vh;
  box-shadow: 5px 6px 38px 2px rgba(40,36,40,.4);
  width: 380px;
  -webkit-transition:unset;
  transition: unset;
  border-radius: 10px; }

.movable-editor .elementor-panel#elementor-panel {
  position: relative !important;
  width: 100%;
  overflow: hidden;
  left: 0;
  border-radius: 10px; }

.movable-editor #elementor-mode-switcher {
  top: 4px;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  right: 45px;
  left: auto;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: #f9f9f9;
  color: #000;
  position: absolute;
  z-index: 2; }
  .movable-editor #elementor-mode-switcher:hover {
    background: #772e8a; }

.movable-editor #elementor-panel-header-wrapper {
  z-index: 1 !important;
  position: relative; }

.movable-editor #elementor-panel-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }

.movable-editor.elementor-editor-preview #elementor-panel {
  overflow: visible; }

.movable-editor.elementor-editor-preview #elementor-panel-wrapper {
  overflow: visible;
  height: auto !important; }

.movable-editor.elementor-editor-preview #elementor-panel-content-wrapper {
  display: none; }

.movable-editor.elementor-editor-preview #elementor-panel-inner {
  overflow: visible; }

.movable-editor.elementor-editor-preview #elementor-panel-footer {
  position: relative; }

.movable-editor.elementor-editor-active #elementor-mode-switcher-preview .fa:before {
  content: "\f023"; }

.movable-editor.elementor-editor-preview #elementor-mode-switcher-preview .fa:before {
  content: "\f13e"; }

.movable-editor.elementor-editor-preview #elementor-mode-switcher {
  background-color: #fff;
  color: #000; }

.dragging-panel #elementor-preview * {
  pointer-events: none; }

.ui-resizable-s {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 15px;
  cursor: ns-resize; }

.ui-resizable-e {
  top: 0;
  height: 100%;
  cursor: ew-resize; }

.ui-resizable-e,.ui-resizable-se {
  position: absolute;
  left: 100%;
  z-index: 3;
  width: 15px; }

.ui-resizable-se {
  top: 100%;
  height: 15px;
  cursor: se-resize; }

/**
 * Templates
 */
#elementor-template-library-templates #elementor-template-library-templates-container[data-template-source="local"] {
  box-shadow: none; }

#elementor-template-library-templates .elementor-template-library-template-local .elementor-template-library-template-icon {
  display: none; }

#elementor-template-library-templates .elementor-template-library-template-local {
  width: 33%;
  float: left;
  padding: 10px;
  background: transparent;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  border: 0; }

.elementor-template-library-template-local .elementor-button.elementor-template-library-template-insert {
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
          transform: translate3d(-50%,-50%,0);
  left: 50%;
  background: #fff !important;
  color: #000;
  border-radius: 10px;
  margin: 0;
  opacity: 0;
  box-shadow: 5px 5px 18px 0 rgba(0,0,0,.29); }

.elementor-template-library-template-local .elementor-template-library-template-meta {
  margin-top: 10px;
  text-align: center; }
  .elementor-template-library-template-local .elementor-template-library-template-meta .elementor-template-library-template-name {
    width: auto; }

.elementor-template-library-template-local .elementor-template-library-template-type {
  display: none; }

.elementor-template-library-template-local .elementor-template-library-template-thumbnail {
  width: 100%;
  height: 170px;
  min-height: 170px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .elementor-template-library-template-local .elementor-template-library-template-thumbnail img {
    max-width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .elementor-template-library-template-local .elementor-template-library-template-thumbnail > i {
    font-size: 64px;
    margin-top: 50px; }
  .elementor-template-library-template-local .elementor-template-library-template-thumbnail:hover .elementor-button.elementor-template-library-template-insert {
    opacity: 1 !important; }

/*# sourceMappingURL=elementor-admin.css.map */
